[Unit]
Description=Ding User Service
After=network.target local_fs.target remote_fs.target
Wants=network.target 

[Service]
Type=simple
ExecStart=/usr/bin/scream -u -p 4011
RestartSec=5s
Restart=on-failure

[Install]
#WantedBy=multi-user.target
WantedBy=default.target